@import url("https://fonts.googleapis.com/css2?family=Exo:ital@1&family=Inter&family=Roboto&display=swap");

html {
  height: 100%;
}

:root {
  --background: #adb2dcbf;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  background-color: #b5caec69;
  min-height: 100%;

  display: grid;
  grid-template-columns: repeat(2 /2);
}

/* navication style */
header {
  background: var(--background);
  text-align: center;
  position: sticky;
  z-index: 999;
  width: 100%;
}

h1 {
  text-align: left;
  font-family: Inter sans-serif;
  font-size: 33px;
}

.logo {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-family: Roboto sans-serif;
  text-align: center;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  right: -10rem;
  font-weight: bold
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked~nav {
  transform: scale(1, 1);
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  width: 2em;
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav-toggle:checked~nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* header image */
#welcome {
  font-size: 260%;
  text-align: center;
}

#image {
  background: url("../images/mainPicture.webp");
  height: 550px;
  background-size: cover;
  background-position: center;
}

/* section about fountains */

#fountains-fact {
  display: grid;
  min-width: 230px;
}
#center-fact {
  margin-top: -19rem;
}

#circle {
  max-width: 400px;
  height: 400px;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20em;
}
#circle-cover {
  background: url("../images/circleOnejpg.jpg") center;
  height: 100%;
  border-radius: 50%;

}
.right-fact-heading h2 {
  position: relative;
  font-size: 28px;
  line-height: 24px;
}

.left-fact-heading h2 {
  position: relative;
  font-size: 28px;
  line-height: 24px;
}

.right-fact-heading p {
  text-align: justify;
  width: 100%;
  padding: 10px;
}

.left-fact-heading p {
  text-align: justify;
  width: 100%;
  padding: 10px;
}

/* gallery page*/
.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 85px;
}
.box-container .box {
  box-shadow: 0 5px 10px rgb(143, 143, 225);
  border-radius: 5px;
  text-align: center;
  padding: 30px 20px;
}
.box-container .box img {
  height: 350px;
}
.box-container .box h2 {
  color: #000;
  font-size: 28px;
  padding: 10px 0;
}
.box-container .box p {
  color: #000;
  font-size: 20px;
  line-height: 1.3;
  text-align: justify;
}

/* Contact us */

.form-section {

  background: url("../images/water.webp");
  background-size: cover;
  background-position: center;
  min-width: 100%;
  height: 100vh;
}

form h2 {
  color: black;
  text-align: center;
  font-family: Inter, sans-serif;
  font-weight: bolder;
  font-size: 35px
}

input[type="text"],
input[type="email"] {
  width: 50%;
  padding: 10px 10px;
  margin: 15px auto;
  display: block;
  border: 2px solid #000;
  border-radius: 5px;
  background: #fff;
  box-sizing: border-box;
}

::placeholder {
  color: #000;
}

#button {
  background-color: #607bcdc4;
  color: #fff;
  padding: 14px 20px;
  margin: 15px auto;
  border-radius: 15px;
  cursor: pointer;
  width: 50%;
  display: flow-root;
  font-size: 20px;
}

#button:hover,
#button:focus {
  color: #fff;
  border: 2em
}

#dubai {
  position: relative;

}

#wealth {
  position: relative;
}

#montjuic {
  position: relative;
}

#bellagio {
  position: relative;
}

#buckingham {
  position: relative;
}

#king {
  display: inline-flex;
  height: 15px;
  width: 15px;
  background-color: #113f67;
  border-radius: 30%;
}

.radio-pair {
  background-color: #4a96d845;
  display: flex;
  color: #000;
  justify-content: flex-start;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.form-section label {
  display: block;
  text-align: center;
  margin: 6px;
  white-space: nowrap;
  font-size: 25px;
}

/* create footer */

.footer {
  background-color: #9296b7bf;
  text-align: center;
  clear: both;
  display: grid;
}

footer p {
  text-align: center;
  font-weight: bold;
}

footer>p {
  font-size: small;
  text-align: left;
  margin: 5px;
  padding: 5px;
  border: 2px #6f6f6f;
  background-color: rgba(74, 74, 74, 0.9);
}

.social {
  list-style: none;
  text-align: center;

}

.social>li {
  display: inline;
}

.social i {
  font-size: 150%;
  margin: 10px;
  color: black;
}
 
/* media queries */
@media screen and (max-width:420px) {}
@media screen and (max-width:400px) {
  .logo {
    font-size: 23px;
  }
  #welcome {
    font-size: 230%;
    margin-left: 8px;
  }

.right-fact-heading h2 {
  position: relative;
  font-size: 23px;
  line-height: 24px;
}

.left-fact-heading h2 {
  position: relative;
  font-size: 23px;
  line-height: 24px;
}

.right-fact-heading p {
  text-align: justify;
   font-size: 16px;
   margin: 5px;
   padding: 10px;
}

.left-fact-heading p {
  text-align: justify;
  font-size: 16px;
  margin: 5px;
  padding: 10px;
}

#circle {
  max-width: 250px;
  height: 250px;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20em;
}

 p {
  padding: 6px;
  text-align: justify;
}
.box-container .box {
  box-shadow: 0 5px 10px rgb(143, 143, 225);
  border-radius: 5px;
  text-align: center;
  padding: 30px 20px;
}
.box-container .box img {
  height: 250px;
}
.box-container .box h2 {
  color: #000;
  font-size: 22px;
  padding: 10px 0;
}
.box-container .box p {
  color: #000;
  font-size: 17px;
  line-height: 1.3;
  text-align: justify;
}

form h2 {
  color: black;
  text-align: center;
  font-family: Inter, sans-serif;
  font-weight: bolder;
  font-size: 23px
}
.radio-pair {
  background-color: #4a96d845;
  display: flex;
  color: #000;
  justify-content: flex-start;
  align-items: center;
  max-width: 236px;
  margin: 0 auto;
}
.form-section label {
  display: block;
  text-align: center;
  margin: 6px;
  white-space: nowrap;
  font-size: 20px;
}
 #button { 
  background-color: #607bcdc4;
  color: #fff;
  padding: 14px 20px;
  margin: 15px auto;
  border-radius: 15px;
  cursor: pointer;
  width: 50%;
  display: flow-root;
  font-size: 17px;
}


}
@media screen and (max-width:320px) {
  .social {
    list-style: none;
    text-align: center;
    
  }
}