@import url("https://fonts.googleapis.com/css2?family=Exo:ital@1&family=Inter&family=Roboto&display=swap");
:root {
  --background: #adb2dcbf;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  background-color: #b5caec69;
}

/* navication style */
header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

h1 {
  text-align: left;
  font-family: Inter sans-serif;
  font-size: 33px;
}
.logo {
  font-size: 40px;
  text-align: center;
}
h2 {
  font-family: Roboto sans-serif;
  text-align: center;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  right: -10rem;
  font-weight: bold

}

nav a:hover {
  color: #000;
}

.nav-toggle:checked~nav {
  transform: scale(1, 1);
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  width: 2em;
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav-toggle:checked~nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
/* header image */
#image {
  background: url("../images/mainPicture.webp");
  height: 550px;
  background-size: cover;
  background-position: center;
}
 /* section about fountains */
.image-outer {
  height: 40px;
  width: 90%;
  overflow: hidden;
}

#left-fact {
  width: 33%;
  float: left;
  padding: 50px;
}

#right-fact {
  width: 33%;
  float: right;
  padding: 50px;
}

#center-fact {
  width: 33%;
  margin: 0 auto;
}

hr {
  border-top: 1px solid #898fbf;
  width: 100%;
  margin: 5px 0;
}

.left-fact-heading {
  width: 75%;
  float: right;
  line-height: 20px;
  clear: both;
  margin-bottom: 20px;
}

.right-fact-heading {
  float: left;
  line-height: 20px;
  clear: both;
  text-indent: 20px; 
}

.right-fact-heading h2 {
  text-align: right;
  font-size: 30px;
  line-height: 24px;
}
.left-fact-heading h2 {
  text-align: left;
  font-size: 30px;
  line-height: 24px;
}
.right-fact-heading p {
  text-align: right;
  text-indent: 40px;
}

#welcome {
  text-align: center;
  font-size: 260%;
}

#circle {
  width: 330px;
  height: 330px;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 150px;
}

#circle-cover {
  background: url("../images/cyrclePicture.jpg") no-repeat, center center;
  height: 100%;
  border-radius: 50%;
}
/* gallery page*/
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px;
}
.card {
  flex: 0 25%;
  background-color: #fff;
  margin: 20px;
  margin-top: 80px;
  border-radius: 15px 15px 0 0;
}
.card-image {
  height: 400px;
  width: 400px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}
.box-1 {
  background-image: url("../images/bellagio.webp");
}
.box-2 {
  background-image: url("../images/buckinghamFountain.jpg");
}
.box-3 {
  background-image: url("../images/kingFahd.webp");
}
.box-4 {
  background-image: url("../images/dubai.webp");
}
.box-5 {
  background-image: url("../images/wealth.webp");
}
.box-6 {
  background-image: url("../images/montjuic.webp");
}
p {
  margin: 10px
}
/* Contact us */

.form-section {
  padding-top: 12%;
  padding-bottom: 15%;
  background: url("../images/water.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
}

form h2 {
  color: black;
  text-align: center;
  font-family: Inter, sans-serif;
  font-weight: bolder;
    font-size: 35px
}

input[type="text"],
input[type="email"] {
  width: 50%;
  padding: 10px 10px;
  margin: 15px auto;
  display: block;
  border: 2px solid #000;
  border-radius: 5px;
  background: #fff;
  box-sizing: border-box;
}

::placeholder {
  color: #000;
}

#button {
  background-color: #607bcdc4;
  color: #fff;
  padding: 14px 20px;
  margin: 15px auto;
  border-radius: 15px;
  cursor: pointer;
  width: 50%;
  display: flow-root;
  font-size: 20px;
}

#button:hover,
#button:focus {
  color: #fff;
  border: 2em 
  
}
#dubai {
  position: relative;
 
}
#wealth {
  position: relative;
}
#montjuic {
  position: relative;
}

#bellagio {
  position: relative;
}
#buckingham {
  position: relative;
}
#king {
  display: inline-flex;
  height: 15px;
  width: 15px;
  background-color: #113f67;
  border-radius: 30%;
}

.radio-pair {
  background-color: #4a96d845;
  display: flex;
  color: #000;
  justify-content: flex-start;
  align-items: center;
  width: 400px; 
  margin: 0 auto;
}

.form-section label {
  display: block;
  text-align: center;
  margin: 6px;
  white-space: nowrap;
  font-size: 25px;
}
/* create footer */

.footer {
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: -19px;
  background-color: #9296b7bf;
  color: black;
  text-align: center;
}

footer p {
  text-align: left;
  font-weight: bold;
  margin-left: 45px;
}
 p {
  margin: 20px;
 }
footer>p {
  font-size: small;
  text-align: left;
  margin: 5px;
  padding: 5px;
  border: 2px #6f6f6f;
  background-color: rgba(74, 74, 74, 0.9);
}

.social {
  height: 25px;
  list-style: none;
  text-align: center;
  letter-spacing: 6px;
  margin: 3px 27px 3px 27px;
}

.social>li {
  display: inline;
}

.social i {
  font-size: 150%;
  margin: 5px 25px 5px 25px;
  color: black;
}
/* media queries */

/* For large to medium screen size from 1200px wide and down */
@media screen and (max-width:1200px) {
    h1 {
      font-size: 30px;
    }
    #image-outer {
      width: 65%;
      margin: 0 auto;
      display: flex;
    }
    #welcome {
      padding: 30px 0;
      margin: 0;
    }
    #left-fact, #right-fact {
      width: 100%;
      float: left;
  }
  .right-fact-heading h2 {
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    margin-left: 59px;
   }
    .left-fact-heading h2 {
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    margin-left: -30px;
  } 
   .right-fact-heading p {
   text-indent: 30px;
   text-align: left;
   margin-left: 59px;
  }
  .left-fact-heading p {
   text-align: left;
   text-indent: 30px;
   margin-left: -132px;
  }
    hr {
      display: none;
    }
    #center-fact {
      clear: both;
      width: 100%;
      padding-block-end: 45px
     }     
     
  }
  /* For medium screen size from 950px wide and down */
  @media screen and (max-width:950px) {
    h1 {
      font-size: 30px;
    }
    #image-outer {
      width: 65%;
      margin: 0 auto;
      display: flex;
    }
    #welcome {
      padding: 30px 0;
      margin: 0;
    }
    #center-fact {
      clear: both;
      width: 100%;
      padding-block-end: 45px
     }     
     
    #left-fact, #right-fact {
      width: 100%;
      float: inherit;
  }
  .right-fact-heading h2 {
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    margin-left: 59px;
   }
    .left-fact-heading h2 {
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    margin-left: -30px;
  } 
   .right-fact-heading p {
   text-indent: 30px;
   text-align: left;
   margin-left: 59px;
  }
  .left-fact-heading p {
   text-align: left;
   text-indent: 30px;
   margin-left: -132px;
  }
    hr {
      display: none;
    }
  }

  
  /* For medium screen size from 768px wide and down */
  @media screen and (max-width:768px) {
    .logo {
      font-size: 40px;
      }
      h1 {
        margin-left: 35px;
      }
      #welcome {
        font-size: 42px;
      }
      form h2 {
      font-size: 23px;
      margin-top: 48px;
      font-weight: bolder;
     }  
     .contact-h2 {
     font-size: 28px;
     }
     .radio-pair {
      background-color: #6098c945;
      width: 200px;
     }
     .form-section label {
      display: block;
      text-align: center;
      margin: 6px;
      white-space: nowrap;
      font-size: 15px;
    }
   
     .right-fact-heading h2 {
     text-align: left;
     font-size: 32px;
     line-height: 32px;
     margin-left: 59px;
    }
     .left-fact-heading h2 {
     text-align: left;
     font-size: 32px;
     line-height: 32px;
     margin-left: -30px;
   } 
    .right-fact-heading p {
    text-indent: 30px;
    text-align: left;
    margin-left: 59px;
   }
   .left-fact-heading p {
    text-align: left;
    text-indent: 30px;
    margin-left: -30px;
   }
   #center-fact {
   clear: both;
   width: 100%;
   padding-block-end: 45px
  }     
  
  .card {
    margin: 12px 0;
  }
   .card-image {
    width: 300px;
    height: 300px;
  }
   }
   /* For small screen size from 480px wide and down */
   @media screen and (max-width:480px) {
    .logo {
      font-size: 32px;
      }
      h1 {
        margin-left: 35px;
      }
      #welcome {
        font-size: 32px;
      }
      form h2 {
      font-size: 23px;
      margin-top: 48px;
      font-weight: bolder;
     }  
     
     .radio-pair {
      background-color: #6098c945;
      margin-left: 7 rem;
     }
     .form-section label {
      display: block;
      text-align: center;
      margin: 6px;
      white-space: nowrap;
      font-size: 15px;
    }
     .right-fact-heading h2 {
     text-align: left;
     font-size: 32px;
     line-height: 32px;
     margin-left: 59px;
    }
     .left-fact-heading h2 {
     text-align: left;
     font-size: 32px;
     line-height: 32px;
     margin-left: -30px;
   } 
    .right-fact-heading p {
    text-indent: 30px;
    text-align: left;
    margin-left: 59px;
   }
   .left-fact-heading p {
    text-align: left;
    text-indent: 30px;
    margin-left: -30px;
   }
   #center-fact {
   display: none;

  }     
  .card {
    margin: 12px 0;
  }
   .card-image {
    width: 330px;
    height: 330px;
  }
  .social i {
    font-size: 150%;
    margin: 5px 0px 0px;
    color: black;
    }
   }
     /* For smallest screen size from 380px wide and down */
 @media screen and (max-width: 380px) {
    .logo {
    font-size: 27px;
    }
    h1 {
      margin-left: 35px;
    }
    #welcome {
      font-size: 27px;
    }
    input[type="text"], input[type="email"] {
      width: 50%;
    }
    form h2 {
    font-size: 18px;
    margin-top: 48px;
    font-weight: bolder;
   }  
   .contact-h2 {
   font-size: 28px;
   }
   .radio-pair {
    background-color: #6098c945;
    margin-left: 63px;
   }
   .form-section label {
    display: block;
    text-align: center;
    margin: 6px;
    white-space: nowrap;
    font-size: 15px;
  }
   .right-fact-heading h2 {
   text-align: left;
   font-size: 22px;
   line-height: 20px;
  }
   .left-fact-heading h2 {
   text-align: left;
   font-size: 22px;
   line-height: 20px;
 } 
  .right-fact-heading p {
  text-indent: 30px;
  text-align: left;
 }
 .left-fact-heading p {
  text-align: left;
  text-indent: 30px;
 }
 #center-fact {
 display: none;
}     
.card {
  margin: 12px 0;
}
 .card-image {
  width: 250px;
  height: 250px;
}
.footer {
padding: 5px;
}
.social i {
  font-size: 150%;
  margin: 5px 0px 0px;
  color: black;
  }
  }
  
 
 
  
   