:root {
    --background: rgba(204 204 238 / 45%);
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
  /* navication style */
  header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
  }
  h1 {
    text-align: left;
    font-family: Inter sans-serif;
    font-size: 33px;
  }
  h2 {
    font-family: Roboto sans-serif;
  }
  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }
  nav a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  nav a:hover {
    color: #000;
  }
  
  .nav-toggle:checked ~ nav {
    transform: scale(1, 1);
  }
  .nav-toggle {
    display: none;
  }
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    width: 2em;
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: "";
    position: absolute;
  }
  .nav-toggle-label span::before {
    bottom: 7px;
  }
  .nav-toggle-label span::after {
    top: 7px;
  }
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  
  #image {
    background: url("/assets/images/picture22.webp");
    height: 550px;
    background-size: cover;
    background-position: center;
  }
  .image-outer {
    height: 40px;
    width: 90%;
    overflow: hidden;
  }
  #left-fact {
    width: 33%;
    float: left;
    padding: 50px;
  }
  #right-fact {
    width: 33%;
    float: right;
    padding: 50px;
  }
  
  #center-fact {
    width: 33%;
    margin: 0 auto;
  }
  hr {
    border-top: 1px solid #898fbf;
    width: 100%;
    margin: 5px 0;
  }
  .left-fact-heading {
    width: 75%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 20px;
  }
  .right-fact-heading {
    width: 75%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 20px;
    text-indent: 40px;
  }
  .right-fact-heading h2 {
    text-align: right;
  }
  .right-fact-heading p {
    text-align: right;
    text-indent: 40px;
  }
  #welcome {
    text-align: center;
    font-size: 260%;
  }
  #circle {
    width: 330px;
    height: 330px;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 150px;
  }
  #circle-cover {
    background: url("/assets/images/cyrcle2.jpg") no-repeat, center center;
    height: 100%;
    border-radius: 50%;
  }

  /* Contact us */

.form-section {
  padding-top: 12%;
  padding-bottom: 15%;
  background: url("./images/water.webp");
  background-size: cover;
  width: 100%;
}
form h2 {
  color: black;
  text-align: center;
  font-family: Merweather, sans-serif;
}
input[type="text"],
input[type="email"] {
  width: 50%;
  padding: 10px 10px;
  margin: 15px auto;
  display: block;
  border: 2px solid #000;
  border-radius: 5px;
  background: #fff;
  box-sizing: border-box;
}

::placeholder {
  color: #000;
}

#button {
  background-color: #000;
  color: #fff;
  padding: 14px 20px;
  margin: 15px auto;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  display: flow-root;
}

#button:hover,
#button:focus {
  color: #fff;
  border: 2em;
}
/* create footer */

.footer {
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: -19px;
  background-color: rgba(66, 164, 230, 0.516);
  color: black;
  text-align: center;
}

footer p {
  text-align: left;
  font-weight: bold;
  margin-left: 45px;
}

footer > p {
  font-size: x-small;
  text-align: left;
  margin: 5px;
  padding: 5px;
  border: 2px #6f6f6f;
  background-color: rgba(74, 74, 74, 0.9);
}

.social {
  height: 25px;
  list-style: none;
  text-align: center;
  letter-spacing: 6px;
  margin: 3px 27px 3px 27px;
}

.social > li {
  display: inline;
}

.social i {
  font-size: 150%;
  margin: 5px 25px 5px 25px;
  color: black;
}